.modal135 {
  position: relative;
  z-index: 2;
  .areaInfo{
    position: absolute;
    min-width: 300px;
    background: #fff;
    // top:20px;
    // left: 20px;
    z-index: 2;
    max-width: 316px;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    .close{
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
    .areaName {
      font-size: 20px;
    }
    .areaDetail {
      margin-bottom: 5px;
      & > span {
        background: #ff1e00;
        display: inline-block;
        font-size: 12px;
        color: #fff;
        padding: 2px;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      & > div {
        margin-bottom: 3px;
        span:first-child {
          margin-right: 10px;
        }
        display: flex;
      }
    }
  }
}
