.basicDeployContainer {
  width: 373px;
  height: 630px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.header {
  flex: none;
  width: 100%;
  height: 50px;
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 20px;
  color: #373d41;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span:nth-of-type(1) {
    font-size: 20px;
    font-weight: 400;
    color: #666;
  }
}
.content {
  flex: 1;
  overflow: auto;
  padding: 0 24px;
}
.formFooter {
  text-align: center;
  margin-bottom: 20px;
  & > button {
    margin: 0 12px;
  }
}
.icon {
  font-size: 24px;
  margin-bottom: 23px;
}
@media screen and (max-height: 700px) {
  .basicDeployContainer {
    height: 500px;
  }
}
